.Form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Input {
  width: 204px;
  margin-right: 12px;
}

.SmallButton {
  width: 175px;
  margin-right: 12px;
}

.LargeButton {
  width: 362px;
  margin-right: 12px;
}


.CharContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 944px;
  justify-content: flex-start;
  padding-top: 48px;
  margin: 0 auto;
  gap: 16px;
}

